h1.Titulo mark { 

    background-color: rgb(10, 10, 10);
    color: rgb(251, 255, 24);
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-size: large; 
    border-color: rgb(47, 0, 255);
    border-style: double;
    
    
}
dt mark{
    background-color: black;
    color: white;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
dd {
    
    justify-content: center;
    color: rgb(0, 17, 255);
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
body{
    
}