h1.qlq {
    color: red;
    background-color: black;
}
h1.qlq2{
    color: blueviolet;
    background-color: brown;
}
body{
    background-color: green;
}
div{
    border: royalblue 3px solid;
    margin: 5;
    padding: 5;
    
    }
    h2 mark {
        background-color: rgb(231, 231, 238);
}